/* Modal Header */
.green-modal-header {
 padding: 2px 16px !important;
 background-color: #5cb85c !important;
 color: white !important;
}
.modal-dark{
  color: white !important;
  background-color: rgb(70,70,70) !important;
}
.div-connexion{
  margin-left: 10px;
  margin-right: 10px;
}
