.card-columns{
  width: 100% !important;
}

.card{
  min-width: 30%;
  margin-bottom: 25px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .2);
}

/* medium screen */
@media (min-width: 1001px) and (max-width: 1400px) {
  .card-columns{
    column-count: 2;
  }
}
/* small screen */
@media (max-width: 1000px) {
  .card-columns{
    column-count: 1;
  }
}
.a{
  background-color: blue;
}
.b{
   @include .a;
  color: white;
}
