.card-container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  justify-content: space-around;
}
.card{
  width: 300px;
}
.a{
  background-color: blue;
}
.b{
   @include .a;
  color: white;
}
