.jumbotron-vert
{
  padding-top: 15px !important;
  padding-bottom: 30px !important;
  border-radius: 25px !important;
}
.jumbotron{
  background-color: rgb(62,62,62) !important;
  color: white !important;
}
.reduced-div
{
  margin-left: 15px !important;
  margin-right: 15px !important;
}
