body
{
  background-size: 100% 100%;
  height: 100vh;
}

#quizz-description
{
  padding: 2%;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* style pour les card */
.card
{
  border: none;
  cursor: pointer;
  background-size: 100% 100%;
}


/*quizz*/
.hide
{
  display: none !important;
}
.control-info{
  position: fixed;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5%;
  margin: 1%;
  display: flex;
  top: var(--navbar-height);
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
}
.quest-container
{
  width: 100%;
  height: 100%;
  /*position: relative;
  display: flex;
  flex-direction: column;
  top: 100vh;*/
  position: fixed;
  top: calc(var(--navbar-height) + 50px);
  height: calc(100vh - var(--navbar-height) - 50px);
  overflow-y: scroll;
  margin-bottom: 10%;

  text-align: center;
}
.quest-container > *{
  opacity: 0;
}
.quest-container .btn
{
  border: solid 1px #666;
  background-color: rgba(255, 255, 255, 0.4);
}
.quest-container .btn:hover
{
  border: solid 1px #666;
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
}
.answer{
  margin-top: 2%;
  font-size: 1.5rem;
  font-family: "CaviarDreams";
  text-align: left;
  /*min-height: 35px;*/
  overflow: hidden;
  white-space: break-spaces;
}
#question
{
  position: relative;

  margin: 0 auto 2% auto;
  padding: 0 2% 0 2%;
  overflow: hidden;
  white-space: break-spaces;
}
#answer-container
{
position: relative;

  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 0 auto;
  /*max-height: 40vh;
  overflow-y: scroll;*/
}
#valide-container{
  padding: 50px 10% 0 30px;
  width: 100%;
  text-align: right;
}
#validated{
  /*position: absolute;
  right: 10%;
  margin-top: 8%;
  bottom: calc(3% + 100px);*/
  width: 15%;
  min-width: 100px;

}
#quizz-container
{
  position: fixed;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}
#back{
  justify-content: center;
}
#back > p{
  margin: 0;
}
#back:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
#scoreboard{
  animation: leftApparitionEffect 1s ease;
  animation-fill-mode: forwards;
  flex-direction: row;
}
#scoreboard > *{
  margin-bottom: 0;
}
#score{
  margin-right: 10px;
}
#difficulty-choice
{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
/*
#btn-dif1
{
  background-color: rgba(40, 200, 50, 0.4);
}
#btn-dif2
{
  background-color: rgba(20, 180, 100, 0.4);
}
#btn-dif3
{
  background-color: rgba(80, 80, 250, 0.4);
}
#btn-dif4
{
  background-color: rgba(200, 40, 100, 0.4);
}
#btn-dif5
{
  background-color: rgba(250, 70, 50, 0.4);
}*/
#difficulty-choice > .btn
{
  width: 12%;
  min-width: 100px;
  height: 40px;
  margin: 0;
}
#btn-begin
{
  width: 40%;
  margin: 15% auto 0 auto;
}
@media (max-width: 550px) {
  #difficulty-choice{
    display: block;
    padding: 0 5% 0 5%;
  }
  #difficulty-choice > .btn
  {
    border-radius: .25rem;
    margin-top: 3%;
  }
}
@media (max-height: 700px) or (max-width: 700px){
  #question{
    font-size: 2rem;
  }
  .answer{
    font-size: 1.25rem;
  }
}

/**** ANIMATIONS ****/
/* agrandissement du font */
.full-page
{
  animation: fullPageEffect 1.5s;
  animation-fill-mode: forwards;
}
.full-page > *
{
  opacity: 0;
}

@keyframes fullPageEffect {

    0%{
      position: absolute;
      top:45%;
      left:45%;
      height: 25vw;
      width: 18vw;
    }
    100%{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
    }
}


/* apparition des questions */
.spawn-question
{
  animation: bottomApparitionEffect 1s ease;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes bottomApparitionEffect {
  0%{
    transform: translateY(100vh);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  /*100%{
    opacity: 1;
    transform: translateY(-100vh);
  }*/
}


/* disparition des questions*/
.disappearance
{
  animation: topDisappearanceEffect .6s ease;
  animation-fill-mode: forwards;
}

@keyframes topDisappearanceEffect {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100vh);
  }
}

/* pour le scoreboard */
@keyframes leftApparitionEffect {
  0%{
    right: -400px;
  }
  100%{
    right: 1vw;
  }
}
