body
{
  background-size: 100% 100%;
  height: 100vh;
}

#quizz-description
{
  padding: 2%;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* style pour les card */
.card
{
  border: none;
  cursor: pointer;
  background-size: 100% 100%;
}


/*quizz*/
.quest{
  width: 100%;
  position: relative;
  top: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.quest .btn
{
  border: solid 1px #666;
  background-color: rgba(255, 255, 255, 0.4);
}
.quest .btn:hover
{
  border: solid 2px #666;
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
}
.hide
{
  display: none !important;
}
.control-info{
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5%;
  margin: 1%;
  display: flex;
  top: var(--navbar-height);
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}
#back{
  justify-content: center;
}
#back > p{
  margin: 0;
}
#back:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
#scoreboard{
  animation: leftApparitionEffect .8s ease;
  animation-fill-mode: forwards;
  flex-direction: column;
}
#difficulty-choice
{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 5% auto 0 auto;
}
#difficulty-choice > .btn
{
  width: 30%;
  height: 40px;
}
#btn-begin
{
  width: 40%;
  margin: 15% auto 0 auto;
}


/**** ANIMATIONS ****/
/* agrandissement du font */
.full-page
{
  animation: fullPageEffect 1.5s;
  animation-fill-mode: forwards;
}
.full-page > *
{
  opacity: 0;
}

@keyframes fullPageEffect {

    0%{
      position: absolute;
      top:45%;
      left:45%;
      height: 25vw;
      width: 18vw;
    }
    100%{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
    }
}


/* apparition des questions */
.spawn-question
{
  animation: bottomApparitionEffect 1s ease;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes bottomApparitionEffect {
  100%{
    opacity: 1;
    transform: translateY(-90vh);
  }
}


/* disparition des questions*/
.disappearance
{
  animation: topDisappearanceEffect .6s ease;
  animation-fill-mode: forwards;
}

@keyframes topDisappearanceEffect {
  0%{
    opacity: 1;
    transform: translateY(-90vh);
  }
  100%{
    opacity: 0;
    transform: translateY(-100vw);
  }
}

/* pour le scoreboard */
@keyframes leftApparitionEffect {
  0%{
    right: -10vw;
  }
  100%{
    right: 0;
  }
}
