:root
{
    --line-height-card: 20px;
}
/*** partie thème de base ***/
.bt-theme
{
  cursor: pointer;
}
#roue-theme-classique
{
  height: 600px;
  width: 600px;
  min-width: 600px;
}
@media (max-width: 600px)
{
  #roue-theme-classique
  {
    height: calc(100vw - 10px);
    width: calc(100vw - 10px);
  }
}
text
{
  font-weight: bold;
  font-family: 'CaviarDreams';
}
#th-desc
{
  height: 0;
  transition: 0.5s;
  text-align: justify;
}
#btn-quizz-smartphone
{
  margin: 10px 0 20px 0;
  display: none;
  border: none;
  font-family: "CaviarDreams";
  font-weight: bold;
  transition: 0.5s;
  font-size: .8rem;
}

/** partie thème custom ***/
.card
{
  max-height: 250px;
  color: white !important;
}
.card:hover
{
  color: white;
}
.card p
{
  overflow: hidden;
  max-height: calc(var(--line-height-card)*8);
  line-height: var(--line-height-card);
}
@media (max-width: 575px) {
    .card p
    {
      max-height: calc(var(--line-height-card)*7);
    }
}
.card-body
{
  margin: 10px;
  max-height: 230px; /*max-height(card)-2*margin*/
}
