@font-face {
  font-family: 'CaviarDreams';
  src: url("../font/CaviarDreams/CaviarDreams.ttf") format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url("../font/CaviarDreams/CaviarDreams_Bold.ttf") format('truetype');
  font-weight: bold;
}

:root
{
    --navbar-height: 95px;
}

/*** ------ NAVBAR ------ ***/
.img-logo {
	max-height: 80px;
  height: 80px;
	width: auto;
}
#hello-navbar p
{
  font-size: 1.0rem;
  font-family: "CaviarDreams";
  font-weight: bold;
  line-height: 35px;
  margin: 0 35px 0 0;
  overflow: hidden;
  color: white;
}
#hello-navbar
{
  display: flex;
  justify-content: center;
  height: 35px;
  width: max-content;
}
#hello-navbar a:link
{
  text-decoration: none;
}
/* INPUTS */
.input-dark{
  background-color: rgb(100,100,100) !important;
  color: white !important;
}
.input-dark::placeholder {
  color: rgb(210,210,210) !important;
  opacity: 1 !important;
}
/*** Multi usage ***/
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bandeau-principal{
	height: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	font-variant: small-caps;
  font-family: "CaviarDreams";
  font-weight: bold;
}
body{
  font-family: "CaviarDreams";
}
.fond-bleu{
	color: white;
  background: repeating-linear-gradient(-45deg, #1C558E, 10px, #226cb6 10px, #226cb6 20px);
}
.cadre-admin-border{
  display: flex;
  justify-content: center;
  flex-flow: row;
}
footer{
	color: white;
  background: repeating-linear-gradient(-45deg, #1C558E, 10px, #226cb6 10px, #226cb6 20px);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .55);
  display: flex;
  justify-content: center;
}
.footer-copyright{
  margin: 0 !important;
  width: 55%;
}
@media (maw-width: 1000px) {
  .footer-copyright{
    width: 70%;
  }
}
.div-admin{
  width: 300px !important;
}
/* Navbar */
.dropdown-toggle-dark:hover{
  cursor: pointer !important;
  font-weight: 600 !important;
}
.dropdown-menu-dark{
  background-color: rgb(60,60,60) !important;
}
.dropdown-item-dark{
  color: white !important;
}
.dropdown-item-dark:hover{
  background-color: rgb(80,80,80) !important;
  font-weight: 600 !important;
}
nav {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .55);
  background-color: rgb(50,50,50) !important;
  color: white !important;
  height: auto;
}
@media (min-width: 760px) {
  .navbar-nav{
    width: 100%;
    display: flex !important;
    flex-flow: row !important;
    justify-content: flex-end !important;
  }
}
.navbar{
  justify-content: center !important;
  display: flex;
}
.navbar-center{
  display: flex !important;
  flex-flow: row !important;
  justify-content: space-between !important;
  width: 70%;
}
.dark-background{
  background-color: var(--cadre-central-background-color) !important;
}

html{
  margin-top: var(--navbar-height);
  overflow-x: hidden;
}
.cadre-global{
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .55);
	display: flex;
	width: auto;
	justify-content: center;
  background-color: rgb(50,50,50);
  min-height: calc(100vh - 1.7*var(--navbar-height));
}
body{
  background-color: rgb(50,50,50) !important;
  overflow-x: hidden;
  width: 100vw;
}
.cadre-central{
	box-shadow: 2px 5px 6px 3px rgba(0, 0, 0, .2), -2px 5px 6px 3px rgba(0, 0, 0, .2);
	width: 70%;
	height: 100%;
	padding: 10px 20px 15px 20px;
  background-color: rgb(70,70,70);
  color: white;
  min-height: calc(100vh - 1.7*var(--navbar-height));
}
.titre1, .titre2{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.titre1{
	font-size: 2.5rem;
	box-shadow: 0px 7px 4px -7px rgba(0,0,0,.4);
	margin-bottom: 15px;
}
.titre2{
	font-size: 20px;
}
.titre3{
  font-size: 2em;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
}
.titre-shadow{
	box-shadow: 0px 7px 4px -7px rgba(0,0,0,.4);
}
.button-open-modal{
  height: 2.5em;
}
.btn-border-blanc{
  border-color: white !important;
  border-width: thick;
}
label
{
	display: block;
	float: left;
}
.div-roue{
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  background-image: repeating-conic-gradient(from 0deg, #454545 0deg 10deg, #555555 10deg 25deg);
  margin-bottom: 15px;
}
#th-desc{

}
label.main-label
{
  font-size: 1.1rem;
  font-weight: 600 !important;
  color: #FFD5AA !important;
}
.blue-text{
    color: #71E3E3 !important;
}
.blue-text:hover{
    color: #AAFFFF !important;
    cursor: pointer !important;
}
a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}
.questionContainer{
  padding-bottom:10px !important;
  margin-bottom: 15px;
  width: 100% !important;
}
.containerQuestions{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
/* medium screen */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-center, .cadre-central{
    width: 80% !important;
  }
  .titre1{
    font-size: 2rem;
  }
}
/* small screen */
@media (max-width: 767px) {
  .navbar-center, .cadre-central{
    width: 100% !important;
  }
  .titre1{
    font-size: 1.7rem;
  }
}

/* effet d'ombre lors du survol */
.dynamic-shadow
{
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
}
.dynamic-shadow:hover
{
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}

/* animation wave lors du clic */
.ripple-container
{
  overflow: hidden;
}
.ripple
{
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleAnim
{
  animation: rippleEffect 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes rippleEffect {

  100%
  {
    transform: scale(2.4);
    opacity: 0;
  }
}
.navbar-item{
  margin: 3px !important;
}
/*** utilisé dans log et register ***/
.form-padding
{
  padding: 5% 15% 5% 15%;
}
.redirection-log-register
{
  display: flex;
  justify-content: right;
}
