body
{
  background-size: 100% 100%;
  height: 100vh;
}
#quizz-description
{
  padding: 2%;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* style pour les card */
.card
{
  border: none;
  cursor: pointer;
  background-size: 100% 100%;
}

/*quizz*/
.hide
{
  display: none !important;
}
.control-info{
  position: fixed;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5%;
  margin: 1%;
  display: flex;
  top: var(--navbar-height);
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: .5rem;
}
.quest-container
{
  width: 100%;
  height: 100%;
  position: fixed;
  top: calc(var(--navbar-height) + 65px);
  height: calc(100vh - var(--navbar-height) - 65px);
  overflow-y: scroll;
  margin-bottom: 10%;
  text-align: center;
}
.quest-container > *{
  opacity: 0;
}
.quest-container .btn
{
  border: solid 1px #666;
  background-color: rgba(255, 255, 255, 0.4);
}
.quest-container .btn:hover
{
  border: solid 1px #666;
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
}
.answer{
  margin-top: 2%;
  font-size: 1.5rem;
  font-family: "CaviarDreams";
  text-align: left;
  overflow: hidden;
  white-space: break-spaces;
}
#question
{
  position: relative;

  margin: 0 auto 2% auto;
  padding: 0 2% .2% 2%;
  overflow: hidden;
  white-space: break-spaces;
}
#free-answer-container
{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto 0 auto;
}
#free-answer-input{
  padding: 5px 15px 5px 15px;
  border-radius: .5rem;
  border-top: 0;
  border-right: 0;
  border-bottom: solid 1px #555;
  border-left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
#answer-container
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 0 auto;
}
#valide-container{
  padding: 50px 10% 20px 30px;
  width: 100%;
  text-align: right;
}
#validated{
  width: 15%;
  min-width: 100px;
}
#quizz-container
{
  position: fixed;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}
#back{
  justify-content: center;
}
#back > p{
  margin: 0;
}
#back:hover{
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: rgba(0, 0, 0, 0.6);
}
#scoreboard{
  animation: leftApparitionEffect 1s ease;
  animation-fill-mode: forwards !important;
  flex-direction: row;
}
#scoreboard > *{
  margin-bottom: 0;
}
#score{
  margin-right: 10px;
}
#difficulty-choice
{
  display: flex;
  flex-direction: column;
  margin-top: calc(4% + 20px);
}
#slider-difficulty::-moz-range-thumb  {
  width: 18px;
  height: 18px;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  cursor: pointer;
  border: solid 5px #333;
}
#slider-difficulty::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  cursor: pointer;
  border: solid 5px #333;
}
#slider-difficulty{
  -webkit-appearance: none;
  background: linear-gradient(90deg,rgba(0, 255, 0, 0.7),rgba(255,255,0,0.7) 40%,rgba(255, 0, 0, 0.7) 90%);
  border-radius: .5rem;
  border: solid 1px #555;
  height: 15px;
  width: 75%;
  max-width: 600px;
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
#difficulty{
  font-weight: lighter;
}
#difficulty-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
}
#difficulty-container > p{
  margin-bottom: 0;
  padding-left: 2%;
  padding-right: 2%;
  line-height: 35px;
}
#difficulty-desc{
  width: 100%;
  text-align: center;
}

#btn-begin
{
  width: 30%;
  margin: 15% auto 0 auto;
}
@media (max-width: 550px) {
  #difficulty-choice{
    display: block;
    padding: 0 5% 0 5%;
  }
  #difficulty-choice > .btn
  {
    border-radius: .25rem;
    margin-top: 3%;
  }
}
@media (max-height: 700px) or (max-width: 700px){
  #question{
    font-size: 2rem;
  }
  .answer{
    font-size: 1.25rem;
  }
}

/**** ANIMATIONS ****/
/* agrandissement du font */
.full-page
{
  animation: fullPageEffect 1.5s;
  animation-fill-mode: forwards;
}
.full-page > *
{
  opacity: 0;
}

@keyframes fullPageEffect {

    0%{
      position: absolute;
      top:45%;
      left:45%;
      height: 25vw;
      width: 18vw;
    }
    100%{
      position: absolute;
      top:0;
      left:0;
      height: 100vh;
      width: 100vw;
    }
}


/* apparition des questions */
.spawn-question
{
  animation: bottomApparitionEffect 1s ease;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes bottomApparitionEffect {
  0%{
    transform: translateY(100vh);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


/* disparition des questions*/
.disappearance
{
  animation: topDisappearanceEffect .6s ease;
  animation-fill-mode: forwards;
}

@keyframes topDisappearanceEffect {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100vh);
  }
}

/* pour le scoreboard */
@keyframes leftApparitionEffect {
  0%{
    right: -400px;
  }
  100%{
    right: 1vw;
  }
}

/* bonne réponse*/
.right-answer
{
  animation: rightEffect .5s;
  animation-fill-mode: forwards;
}
@keyframes rightEffect {
  100%{
    color: rgba(0, 80, 0, 1);
    background-color: rgba(0, 200, 0, 1);
    border: solid 2px rgba(0, 100, 0, 1);
    box-shadow: 0 0 20px rgba(0, 200, 0, 0.8);
    font-weight: bold;
  }
}
.plusOne{
  position: absolute;
  font-weight: bold;
  animation: plusEffect 1.5s;
  animation-fill-mode: forwards;
  right: calc(130px + 3%);
  font-family: "CaviarDreams";
}
@keyframes plusEffect {
  0%{
    top:250px;
    font-size: 3.2rem;
  }
  99%{
    top:150px;
    font-size: .5rem;
  }
  100%{
    top:150px;
    font-size: 0rem;
  }
}
/* mauvaise réponse */
.bad-answer
{
  animation: badEffect .5s;
  animation-fill-mode: forwards;
}
@keyframes badEffect {
  100%{
    color: rgba(80, 0, 0, 1);
    background-color: rgba(200, 0, 0, 1);
    border: solid 2px rgba(100, 0, 0, 1);
    box-shadow: 0 0 20px rgba(200, 0, 0, 0.8);
    font-weight: bold;
  }
}

/* expend scoreboard */
.expend{
  animation: expendEffect 1s !important;
  right: 1vw;
  flex-direction: column !important;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes expendEffect {
  0%{
    width: 200px;
    text-align: center;
    border: 0;
    line-height: 45px;
  }
  100%{
    top: 28vh;
    right: 0;
    border: 0;
    font-size: 300%;
    line-height: 130px;
    width: 100%;
    text-align: center;
  }
}
@media (max-height: 500px) {
  @keyframes expendEffect {
    0%{
      width: 200px;
      text-align: center;
      border: 0;
      line-height: 45px;
    }
    100%{
      top: 22vh;
      right: 0;
      border: 0;
      font-size: 250%;
      line-height: 80px;
      width: 100%;
      text-align: center;
    }
  }
}
/* animation button retour en fin de quizz */
.continue{
  animation: backButtonEffect 2s;
  animation-fill-mode: forwards;
}

@keyframes backButtonEffect {
  0{
      border-radius: .5rem;
      border-width: 1px;
      width: 100px;
      height: 25px;
      color: rgba(0, 0, 0, 0.6);
      left: 0;
      top: var(--navbar-height);
  }
  30%{
      border-radius: 50%;
      border-width: 10px;
      width: 12px;
      height: 12px;
      color: rgba(0, 0, 0, 0);
      left: 0;
      top: 0;
  }
  60%{
      border-radius: 50%;
      border-width: 10px;
      width: 12px;
      height: 12px;
      color: rgba(0, 0, 0, 0);
      left: 0;
      top: calc(30vh + 2*130px + 50px);
  }
  90%{
      border-radius: 50%;
      border-width: 10px;
      width: 12px;
      height: 12px;
      color: rgba(0, 0, 0, 0);
      left: 49vw;
      top: calc(30vh + 2*130px + 50px);
  }
  100%{
      border-radius: .5rem;
      border-width: 1px;
      width: 60vw;
      height: auto;
      color: rgba(0, 0, 0, 0.6);
      font-size: 2rem;
      left: 20vw;
      top: calc(30vh + 2*130px + 50px);
  }
}
@media (max-height: 500px) {
  @keyframes backButtonEffect {
    0{
        border-radius: .5rem;
        border-width: 1px;
        width: 100px;
        height: 25px;
        color: rgba(0, 0, 0, 0.6);
        left: 0;
        top: var(--navbar-height);
    }
    30%{
        border-radius: 50%;
        border-width: 10px;
        width: 12px;
        height: 12px;
        color: rgba(0, 0, 0, 0);
        left: 0;
        top: 0;
    }
    60%{
        border-radius: 50%;
        border-width: 10px;
        width: 12px;
        height: 12px;
        color: rgba(0, 0, 0, 0);
        left: 0;
        top: calc(22vh + 2*130px + 50px);
    }
    90%{
        border-radius: 50%;
        border-width: 10px;
        width: 12px;
        height: 12px;
        color: rgba(0, 0, 0, 0);
        left: 49vw;
        top: calc(22vh + 2*130px + 50px);
    }
    100%{
        border-radius: .5rem;
        border-width: 1px;
        width: 60vw;
        height: auto;
        color: rgba(0, 0, 0, 0.6);
        font-size: 2rem;
        left: 20vw;
        top: calc(22vh + 2*130px + 50px);
    }
}
