@font-face {
  font-family: 'CaviarDreams';
  src: url("../font/CaviarDreams/CaviarDreams.ttf") format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'CaviarDreams';
  src: url("../font/CaviarDreams/CaviarDreams_Bold.ttf") format('truetype');
  font-weight: bold;
}

:root
{
    --navbar-height: 90px;
}

/*** navbar ***/
.img-logo {
	max-height: 80px;
  height: 80px;
	width: auto;
}
#hello-navbar p
{
  font-size: 1.2rem;
  font-family: "CaviarDreams";
  font-weight: bold;
  line-height: 35px;
  margin: 0 35px 0 0;
  overflow: hidden;
}
#hello-navbar
{
  display: flex;
  justify-content: center;
  height: 35px;
  width: max-content;
}
#hello-navbar a:link
{
  text-decoration: none;
}
nav {
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, .55);
  background-color: rgb(70,70,70) !important;
  height: var(--navbar-height);
}
html{
  margin-top: var(--navbar-height);
}
/*** Multi usage ***/
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bandeau-principal{
  margin-top: var(--navbar-height);
	height: 65px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-variant: small-caps;
}
.fond-bleu{
	background-color: #48f;
	color: white;
}
.cadre-global{
	box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, .55);
	display: flex;
	width: auto;
	justify-content: center;
  background-color: rgb(50,50,50);
}
body{
  background-color: rgb(50,50,50) !important;
}
.cadre-central{
	box-shadow: 2px 5px 6px 3px rgba(0, 0, 0, .2), -2px 5px 6px 3px rgba(0, 0, 0, .2);
	width: 60%;
	height: 100%;
	padding: 10px 20px 15px 20px;
  background-color: rgb(70,70,70);
  color: white;
}
.titre1, .titre2{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.titre1{
	font-size: 2.5rem;
	box-shadow: 0px 7px 4px -7px rgba(0,0,0,.4);
	margin-bottom: 15px;
}
.titre2{
	font-size: 20px;
}
.titre3{
  font-size: 2em;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
}
.titre-shadow{
	box-shadow: 0px 7px 4px -7px rgba(0,0,0,.4);
}
.button-open-modal{
  height: 2.5em;
}
.btn-border-blanc{
  border-color: white !important;
  border-width: thick;
}
label
{
	display: block;
	width: 100px;
	float: left;
}
a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}
.questionContainer{
  padding-bottom:0px !important;
  margin-bottom: 15px;
  width: 100% !important;
}
.containerQuestions{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
/* medium screen */
@media (min-width: 801px) and (max-width: 1200px) {
  .cadre-central{
    width: 80% !important;
  }
  .titre1{
    font-size: 2rem;
  }
}
/* small screen */
@media (max-width: 800px) {
  .cadre-central{
    width: 100% !important;
  }
  .titre1{
    font-size: 1.7rem;
  }
}
/* effet animation */
.rippleContainer
{
  overflow: hidden;
}
.ripple
{
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleAnim
{
  animation: rippleEffect 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes rippleEffect {

  100%
  {
    transform: scale(2.4);
    opacity: 0;
  }
}

/*** utilisé dans log et register ***/
.form-padding
{
  padding: 5% 0 5% 0;
}
.redirection-log-register
{
  display: flex;
  justify-content: right;
}
