:root
{
    --line-height-card: 20px;
}

/*** partie thème de base ***/
.bt-theme
{
  cursor: pointer;
}
#roue-theme-classique
{
  height: 600px;
  width: 600px;
}
@media (max-width: 700px)
{
  #roue-theme-classique
  {
    height: 80vw;
    width: 80vw;
  }
}
text
{
  font-weight: bold;
  font-family: 'CaviarDreams';
}
#th-desc
{
  height: 100%;
  transition: 0.5s;
}
#btn-quizz-smartphone
{
  margin: 10px 0 20px 0;
  display: none;
  border: none;
  font-family: "CaviarDreams";
  font-weight: bold;
  transition: 0.5s;
}

/** partie thème custom ***/
.card
{
  box-shadow: 3px 4px 5px rgba(20,20,20,.5);
  max-height: 250px;
}
.card:hover
{
  box-shadow: 2px 2px 5px rgba(20,20,20,.5);
}
.card:link
{
  text-decoration: none;
}
.card p
{
  color: white;
  font-family: "CaviarDreams";
  overflow: hidden;
  max-height: calc(var(--line-height-card)*9);
  line-height: var(--line-height-card);
}
@media (max-width: 575px) {
    .card p
    {
      max-height: calc(var(--line-height-card)*7);
    }
}
.card-text:first-child
{
  font-weight: bold;
  font-size: 1.4rem;
}
.card-border
{
  border-radius: 5px;
  border: solid 1px #fff;
  background-color: rgba(255,255,255,0.15);
  padding: 10px;
  margin: -12px -8px -8px -8px;
}
